$brand-red: #e12727;
$brand-bg-grey: #e6e6e6;
$brand-dark-grey: #5a5c59;
$brand-text-grey: #5a5c59;
$brand-text-light-grey: #898989;
$brand-p-grey: #5a6360;
$brand-green: #86c06a;
$brand-blue: #01506b;
$b-white: #ffffff;

$secondary-color: $brand-red;
$very-small-screen: 320px !default;
