<div id="footer" class="hide-on-small-only">
  <div class="footer-infos text-center">
    <div class="footer-first-line">
      <span><%= link_to "Mentions légales", cgu_path %></span>
      <a href="mailto:leslarrisorange@gmail.com">Contact</a>
    </div>
    <div class="footer-copyright">copyright 2017 - Gansky</div>
  </div>
</div>
