<div class="navbar">
  <div class="container" id="navbar">
    <div id="brand">
      <%= image_tag 'logo-gansky.png' %>
      <%= link_to "", root_path, class: "full-link" %>
    </div>
    <div>
      <div class="navbar-links">
        <%= link_to "Retour", flat_path(flat) %>
      </div>
    </div>
  </div>
</div>
