.btn-gansky {
  color: white;
  background-color: $brand-red;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  .fa {
    margin-left: 1rem;
  }
  @media (max-width: $small-screen) {
    font-size: 15px;
    padding: 10px 28px;

  }
}
.btn-gansky:hover {
  text-decoration: none;
  opacity: 0.8;
}
.btn-initial {
  color: white;
  background-color: $brand-red;
  padding: 10px 55px;
  border-radius: 10px;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
}
.btn-initial:hover {
  text-decoration: none;
  opacity: 0.8;
}

.btn-application {
  color: white;
  background-color: #e12727;
  width: 200px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 10px;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
}
.btn-application:hover {
  text-decoration: none;
  opacity: 0.8;
}
.btn-mobile-application {
  color: white;
  background-color: $brand-red;
  height: 58px;
  line-height: 58px;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  position: fixed;
  bottom: 0;
}
.btn-mobile-application:hover {
  text-decoration: none;
  opacity: 0.8;
}
.btn-occupied {
  background-color: $brand-blue;
  display: inline-flex;
  flex-direction: column;
  line-height: initial;
  justify-content: center;
}
